<div class="container evaluations__show evaluations__result">
	<div class="row">
		<strong><span class="glyphicon glyphicon-home" aria-hidden="true"></span>职业测试/MBTI性格测试介绍</strong>
	</div>
	<div class="row content">
		<div class="col-xs-12 my-subhead">
			<p>MBTI是一种迫选型、自我报告式的性格评估理论模型，用以衡量人们在获取信息、作出决策、对待生活等方面的心理活动规律和性格类型。</p>		
		</div>
		<div class="col-xs-12">
			<h3>一、你的MBTI图形</h3>
			<p class="text-center">MBTI倾向示意图(类型：ISFJ 总倾向：50)</p>
		</div>
		<div class="col-xs-12">
			<div class="text-center">
				<%=image_tag"result.png"%>
			</div>
			<p class="text-center my-result">倾向示意图表示四个维度分别的倾向程度。</p>
		</div>
		<div class="col-xs-12">
			<hr class="my-divider">
		</div>
		<div class="col-xs-12">
			<h3>二、基本描述</h3>
			<p>沉静，友善，有责任感和谨慎。能坚定不移地承担责任。做事贯彻始终、不辞劳苦和准确无误。忠诚，替人着想，细心；往往记着他所重视的人的种种微小事情，关心别人的感受。努力创造一个有秩序、和谐的工作和家居 环境。</p>
			<p>ISFJ型的人忠诚、有奉献精神和同情心，理解别人的感受。他们意志清醒而有责任心，乐于为人所需。 ISFJ型的人十分务实，他们喜欢平和谦逊的人。他们喜欢利用大量的事实情况，对于细节则有很强的记力。他们耐心地 对待任务的整个阶段，喜欢事情能够清晰明确。 ISFJ型的人具有强烈的职业道德，所以他们如果知道自己的行为真正有用时，会对需要完成之事承担责任。他们准确系统地完成任务。他们具有传统的价值观，十分保守。他 们利用符合实际的判断标准做决定，通过出色的注重实际的态度增加了稳定性。 ISFJ型的人平和谦虚、勤奋严肃。他们温和、圆通，支持朋友和同伴。他们乐于协助别人，喜欢实际可行地帮助他人。他们利用个人热情与人 交往，在困难中与他人和睦相处。ISFJ型的人不喜欢表达个人情感，但实际上对于大多数的情况和事件都具有强烈的个人反应。他们关心、保护朋友，愿意为朋友献身，他们有为他人服务的意识，愿意完成他们的责任和义务。</p>
			<p>您适合的领域有：领域特征不明显，较相关的如：医护领域、消费类商业、服务业领域</p>
			<p>您适合的职业有：</p>
			<ul>
				<li>内科医生</li>
				<li>营养师</li>
				<li> 数据库管理员 </li>
				<li>室内装潢设计师</li>
				<li>顾客服务代表</li>
				<li>房地产代理或经纪人</li>
				<li>人事管理人员</li>
				<li>财务经理</li>
				<li>公务（法律、税务）执行人员</li>
				<li>计算机程序员 </li>
			</ul>
			<div class="col-xs-12">
				<hr class="my-divider">
			</div>
			<div class="col-xs-12">
				<h3>三、总体描述</h3>
				<ol> 
					<li>实际，有条理，认真仔细。</li>
					<li>注重规则、政策、契约、例行习惯和时间要求。</li>
					<li> 一旦他们承诺一件事情，总会坚持完成它。</li>
					<li>在跟进、规范方面做得很好。</li>
					<li> 以第一次和每一次都做了正确的事情为荣。</li>
					<li. 对需要注意的事情有敏锐的洞察力。></li>
					<li> 善于尽可能有效地利用现有资源完成工作。</li>
				</ol>

			</div>
			<div class="col-xs-12">
				<hr class="my-divider">
			</div>
			<div class="col-xs-12">
				<h3>四、潜在弱点</h3>
				<ol>
					<li>容易只看到事情有黑和白两种情况，而看不到中间的灰色地带。</li>
					<li>可能不能很快地做出改变和适应。</li>
					<li>有些此类型成员不擅长变通、缺乏想象力。</li>
				</ol>
			</div>
		</div>
	</div>
</div>