<div class="modal fade devise-modal" tabindex="-1" role="dialog" id="deviseUserModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div id="deviseUserFormModal" class="user-devise-form">
        
      </div>
    </div>
  </div>
</div>

