<div class="footer-main">
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-md-2 col-xs-6"> 
					<ul class="my-ul footer-link">
						<li>关于我们</li>
						<li><a href="#">公司简介</a></li>
						<li><a href="#">邦彦文化</a></li>	
						<li><a href="#">团队介绍</a></li>
						<li><a href="#">招聘信息</a></li>
						<li><a href="#">荣誉奖励</a></li>
						<li><a href="#">大事记</a></li>
					</ul>
				</div>
				<div class="col-md-2 col-xs-6">
					<ul class="my-ul footer-link">
						<li>新闻中心</li>
						<li><a href="#">新闻资讯</a></li>
						<li><a href="#">行业动态</a></li>
						<li><a href="#">合作支持</a></li>
						<li>&nbsp;</li>
						<li>&nbsp;</li>
						<li>&nbsp;</li>
					</ul>
				</div>
				<div class="col-md-2 col-xs-6">
					<ul class="my-ul footer-link">
						<li>联系我们</li>
						<li><a href="#">地图</a></li>
						<li><a href="#">招聘</a></li>
						<li><a href="#">意见反馈</a></li>
						<li><a href="#">联系电话</a></li>
						<li>&nbsp;</li>
						<li>&nbsp;</li>
					</ul>
				</div>
				<div class="col-md-2 col-xs-6">
					<ul class="my-ul footer-link">
						<li>友情链接</li>
						<li><a href="#">大唐电信</a></li>
						<li><a href="#">高鸿股份</a></li>
						<li><a href="#">上海电子信息职教集团</a></li>
						<li><a href="#">上海市经信委</a></li>
						<li><a href="#">上海市教委</a></li>
						<li>&nbsp;</li>
					</ul>
				</div>
				<div class="col-md-2 col-xs-6 text-center">
					<p><%= image_tag "wechat.png", width: "100"%></p>
					<strong>微信公众号</strong>
				</div>
				<div class="col-md-2 col-xs-6 text-center">
					<p><%= image_tag "microblog.png", width: "100"%></p>
					<strong>微博号</strong>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom text-center">
		© Copyright 2015 buoyantec.com 邦彦网
	</div>
</div>
