<div class="bordered">
  <%= link_to "#" do %>
  		<%= image_tag "system_picture.png", width:"100%", class:"img-responsive" %>
		<div class="col-sm-12 mt-10">
			<p class="text-muted course-descrip">dfhdhdhdhd</p>
			<p class="text-muted course-title">hdfhdfhdfhdfhdfhdf</p>
		</div>
		<div class="col-sm-12 system-icon">
			<i class="icon-tubiao iconfont"></i> 465346
			&nbsp;&nbsp;&nbsp;
			<i class="icon-shizhong iconfont"></i>12345小时
			<b class="pull-right">免费</b>
		</div>
	<% end %>
</div>