<div class="modal fade devise-modal" tabindex="-1" role="dialog" id="trainingPlatformModal">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div id="trainingPlatformModalContent" class="tp-user-devise-form">
        
      </div>
    </div>
  </div>
</div>

