<div class="main-container" id="main-container">
      <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
      </script>

        <div class="main-container-inner">
            <a class="menu-toggler" id="menu-toggler" href="#">
              <span class="menu-text"></span>
            </a>

            <!-- begin siderbar -->
            <div class="sidebar" id="sidebar">
                <script type="text/javascript">
                  try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
                </script>

                <!-- end sidebar-shortcuts -->
                <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                  <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                    <button class="btn btn-success">
                      <i class="icon-signal"></i>
                    </button>

                    <button class="btn btn-info">
                      <i class="icon-pencil"></i>
                    </button>

                    <button class="btn btn-warning">
                      <i class="icon-group"></i>
                    </button>

                    <button class="btn btn-danger">
                      <i class="icon-cogs"></i>
                    </button>
                  </div>

                  <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                    <span class="btn btn-success"></span>

                    <span class="btn btn-info"></span>

                    <span class="btn btn-warning"></span>

                    <span class="btn btn-danger"></span>
                  </div>
                </div>
                <!-- end sidebar-shortcuts -->

               <div class="project_name">
               <span class="project_name_t"><%= current_user.try(:show_name) %></span>
               </div>
                <!-- begin nav-list -->
                <ul class="nav nav-list ace-nav-left">
                  <li class="active">
                    <a href="#">
                      <i class="icon-book "></i>
                      <span class="menu-text"> 全部项目</span>
                    </a>
                  </li>

                  <li >
                    <a href="#">
                      <i class="icon-flag "></i>
                      <span class="menu-text"> 关注的项目</span>
                    </a>
                  </li>

                  <li>
                    <a href="#">
                      <i class="icon-folder-close "></i>
                      <span class="menu-text"> 归档项目 </span>
                    </a>
                  </li>

                  <li>
                    <a href="#" class="dropdown-toggle">
                      <i class="icon-bookmark"></i>
                      <span class="menu-text"> 个人项目 </span>

                      <b class="arrow icon-angle-down"></b>
                    </a>

                    <ul class="submenu">
                      <li>
                        <a href="#">
                          <i class="icon-double-angle-right"></i>
                          项目1
                        </a>
                      </li>

                      <li>
                        <a href="#">
                          <i class="icon-double-angle-right"></i>
                          项目2
                        </a>
                      </li>

                      <li>
                        <a href="#">
                          <i class="icon-double-angle-right"></i>
                          项目3
                        </a>
                      </li>

                      <li>
                        <a href="#">
                          <i class="icon-double-angle-right"></i>
                         项目4
                        </a>
                      </li>

                      <li>
                        <a href="#">
                          <i class="icon-double-angle-right"></i>
                          项目5
                        </a>
                      </li>
                    </ul>
                  </li>

                  <li>
                    <a href="#" class="dropdown-toggle">
                      <i class="icon-list"></i>
                      <span class="menu-text"> 参与的项目</span>

                      <b class="arrow icon-angle-down"></b>
                    </a>

                    <ul class="submenu">
                      <li>
                        <a href="tables.html">
                          <i class="icon-double-angle-right"></i>
                          项目1
                        </a>
                      </li>

                      <li>
                        <a href="jqgrid.html">
                          <i class="icon-double-angle-right"></i>
                          项目2
                        </a>
                      </li>
                    </ul>
                  </li>

                  <li>
                    <a href="#" class="dropdown-toggle">
                      <i class="icon-group "></i>
                      <span class="menu-text"> 团队成员 </span>

                      <b class="arrow icon-angle-down"></b>
                    </a>

                    <ul class="submenu">
                      <li>
                        <a href="form-elements.html">
                          <i class="icon-double-angle-right"></i>
                          李毅杰（大师）
                        </a>
                      </li>

                      <li>
                        <a href="dropzone.html">
                          <i class="icon-double-angle-right"></i>
                          汤工（工程师）
                        </a>
                      </li>

                      <li>
                        <a href="form-wizard.html">
                          <i class="icon-double-angle-right"></i>
                          崔军伟（工程师）
                        </a>
                      </li>

                      <li>
                        <a href="wysiwyg.html">
                          <i class="icon-double-angle-right"></i>
                          樊伟（工程师）
                        </a>
                      </li>

                      <li>
                        <a href="dropzone.html">
                          <i class="icon-double-angle-right"></i>
                          陈博
                        </a>
                      </li>

                      <li>
                        <a href="dropzone.html">
                          <i class="icon-double-angle-right"></i>
                          曹子莹
                        </a>
                      </li>

                      <li>
                        <a href="dropzone.html">
                          <i class="icon-double-angle-right"></i>
                          张留刚
                        </a>
                      </li>

                      <li>
                        <a href="dropzone.html">
                          <i class="icon-double-angle-right"></i>
                          于子荀
                        </a>
                      </li>

                      <li>
                        <a href="dropzone.html">
                          <i class="icon-double-angle-right"></i>
                          瞿sir
                        </a>
                      </li>

                      <li>
                        <a href="dropzone.html">
                          <i class="icon-double-angle-right"></i>
                          刘婷婷
                        </a>
                      </li>

                      <li>
                        <a href="dropzone.html">
                          <i class="icon-double-angle-right"></i>
                          冯亚芬
                        </a>
                      </li>
                    </ul>
                  </li>

                  <li>
                    <a href="calendar.html">
                      <i class="icon-calendar"></i>
                      <span class="menu-text">
                        日历
                        <span class="badge badge-transparent tooltip-error" title="2&nbsp;Important&nbsp;Events">
                          <i class="icon-warning-sign red bigger-130"></i>
                        </span>
                      </span>
                    </a>
                  </li>
                </ul>
                <!--end nav-list -->

                <div class="sidebar-collapse" id="sidebar-collapse">
                  <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
                </div>

                <script type="text/javascript">
                  try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
                </script>
            </div>
            <!--end sidebar -->

            <div class="main-content">
              <div class="page-content">
                  <div class="col-xs-12">
                  <div class="row">
                    <!-- PAGE CONTENT BEGINS -->
                        <div class="col-xs-6 ace_content_left_title">
                          <%= link_to(new_training_platform_project_path,remote: true, format: :js) do %>
                            <span class="glyphicon glyphicon-plus ace_plus" aria-hidden="true"></span><span class="ace_plus_word">添加项目</span>
                          <% end %>
                        </div>
                        <div class="col-xs-6 ace_content_right_title">
                            <div class="col-xs-7 ace-serch">
                                <form class="form-search col-xs-12 ace-form-serch">
                                <span class="input-icon">
                                <input type="text" placeholder="请输入关键字" class="nav-search-input" id="nav-search-input" autocomplete="off" />
                                <i class="icon-search nav-search-icon"></i>
                                </span>
                                </form><!-- #nav-search -->
                            </div>
                            <div class="col-xs-5">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="glyphicon glyphicon-question-sign ace_ques pull-right" aria-hidden="true"></span>
                                </a>
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <i class="icon-bell-alt icon-animated-bell pull-right ace_bell"></i>
                                </a>
                            </div>
                        </div>
                  </div>
                  </div>
                    <div class="col-xs-12 main-bg">
                        <div class="col-sm-6">
                          <%=link_to 'training_platform/projects' do |i| %>
                    
                          <div class="row blue-bg main">
                            <div class="col-sm-12 text-right">
                              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                              <span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
                              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                            </div>
                            <div class="col-sm-3 text-center">
                                <div class="easy-pie-chart percentage" data-percent="20" data-color="#fff">
                                <span class="percent percent_number">20</span>%
                                </div>
                            </div>
                            <div class="col-sm-9">
                              <h4>在线教育平台</h4>
                              <p>（总任务：20   已完成：15 待办中：5 验收通过：3）</p>
                            </div>
                          </div>
                          <% end %>
                        </div>
                        <div class="col-sm-6">
                          <div class="row yellow-bg main">
                            <div class="col-sm-12 text-right">
                              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                              <span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
                              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                            </div>
                            <div class="col-sm-3 text-center">
                              <div class="easy-pie-chart percentage" data-percent="60" data-color="#fff">
                                <span class="percent percent_number">60</span>%
                                </div>
                            </div>
                            <div class="col-sm-9">
                              <h4>在线教育平台</h4>
                              <p>（总任务：20   已完成：15 待办中：5 验收通过：3）</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="row orange-bg main">
                            <div class="col-sm-12 text-right">
                              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                              <span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
                              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                            </div>
                            <div class="col-sm-3 text-center">
                              <div class="easy-pie-chart percentage" data-percent="40" data-color="#fff">
                                <span class="percent percent_number">40</span>%
                                </div>
                            </div>
                            <div class="col-sm-9">
                              <h4>在线教育平台</h4>
                              <p>（总任务：20   已完成：15 待办中：5 验收通过：3）</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="row purple-bg main">
                            <div class="col-sm-12 text-right">
                              <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                              <span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
                              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                            </div>
                            <div class="col-sm-3 text-center">
                              <div class="easy-pie-chart percentage" data-percent="46" data-color="#fff">
                                <span class="percent percent_number">46</span>%
                                </div>
                            </div>
                            <div class="col-sm-9">
                              <h4>在线教育平台</h4>
                              <p>（总任务：20   已完成：15 待办中：5 验收通过：3）</p>
                            </div>
                          </div>
                        </div>
                    <!-- PAGE CONTENT ENDS -->
                    </div>
              </div><!-- /.page-content -->
            </div><!-- /.main-content -->
        </div><!-- /.main-container-inner -->

</div>

<script type="text/javascript">
  var oldie = /msie\s*(8|7|6)/.test(navigator.userAgent.toLowerCase());
  $('.easy-pie-chart.percentage').each(function(){
          $(this).easyPieChart({
            barColor: $(this).data('color'),
            trackColor: 'rgba(255,255,255,0.4)',
            scaleColor: false,
            lineCap: 'butt',
            lineWidth: 12,
            animate: oldie ? false : 1000,
            size:107
          }).css('color', $(this).data('color'));
        });
</script><!-- ./環裝讀條百分比  -->