<div class="container">
	<ol class="courses-bread breadcrumb">
	<span><i class="iconfont">&#xe60a;</i></span>
	<li><a href="#">课程中心</a></li>
	<li><a href="#">技术体系</a></li>
	<li class="active">Java语言开发知识体系</li>
	</ol>
	<div class="row category">
		<div class="title-bar">
			<h4 class="text-center career-title">Android工程师</h4>
			<div class="line"></div>
		</div>
		<div class="system-intro col-sm-12">这是体系简介这是体系简介这是体系简介这是体系简介这是体系简介这是体系简介这是体系简介，这是体系简介这是体系简介这是体系这是体系简介这是体系简介这是体系简介这是体系简介这是体系简介这是体系简介这是体系简介，这是体系简介这是体系简介这是体系这是体系简介这是体系简介这是体系这是体系简介这是体系简介这是体系这是体系简介这是体系简介这是体系这是体系简介这是体系简介这是体系这是体系简介这是体系简介这是体系。</div>

	</div>
	<div class="row">
		<div class="title-bar">
			<h4 class="text-center title">课程中心</h4>
			<div class="line"></div>
		</div>
		<div class="col-xs-12">
			<div class="col-xs-12 text-center">
				<span class="career-t"><h4>Java技术</h4>（本阶段讲解了Java开发需要掌握的基础知识和软件）</span><br>
				<i class="career-icon iconfont">&#xe602;<div class="career-blank">&nbsp</div></i>
			</div>
			<div class="career-media col-xs-12">
				<% (0..3).each do |i| %>
				<div class="col-sm-3">
					<%= render partial: "share/media" %>
				</div>
				<% end %>
			</div>
			<div class="col-xs-12 text-center">
				<i class="career-i iconfont">&#xe602;<div class="career-blank">&nbsp</div></i>
				<span class="career-t"><h4>Java技术</h4>（本阶段讲解了Java开发需要掌握的基础知识和软件）</span><br>
				<i class="career-icon iconfont">&#xe602;<div class="career-blank">&nbsp</div></i>
			</div>
			<div class="career-media col-xs-12">
				<% (0..3).each do |i| %>
				<div class="col-sm-3">
					<%= render partial: "share/media" %>
				</div>
				<% end %>
			</div>
			<div class="col-xs-12 text-center">
				<i class="career-i iconfont">&#xe602;<div class="career-blank">&nbsp</div></i>
				<span class="career-t"><h4>Java技术</h4>（本阶段讲解了Java开发需要掌握的基础知识和软件）</span><br>
				<i class="career-icon iconfont">&#xe602;<div class="career-blank">&nbsp</div></i>
			</div>
			<div class="career-media col-xs-12">
				<% (0..3).each do |i| %>
				<div class="col-sm-3">
					<%= render partial: "share/media" %>
				</div>
				<% end %>
			</div>
	</div>
</div>