<% @announces.each do |announce| %>
<ul class="nav nav-pills nav-stacked anno-ul">
	<li>
		<a class="clearfix" href="#">
			<span class="col-xs-9 text-left"><%= announce.description %></span>
			<span class="col-xs-3 text-right"><%= announce.created_at.strftime("%Y-%m-%d") %></span>
		</a>
	</li>
</ul>
<% end %>