<div class="main-container" id="main-container">
	<script type="text/javascript">
		try{ace.settings.check('main-container' , 'fixed')}catch(e){}
	</script>

	<div class="main-container-inner">
		<a class="menu-toggler" id="menu-toggler" href="#">
			<span class="menu-text"></span>
		</a>

		<%= render 'training_platform/share/left_nav'%>

		<div class="main-content">
			<div class="page-content">
				<div class="col-xs-12">
					<div class="row">
						<!-- PAGE CONTENT BEGINS -->
						<div class="col-xs-6 ace_content_left_title">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<span class="glyphicon glyphicon-plus ace_plus" aria-hidden="true"></span><span class="ace_plus_word">添加项目</span>
							</a>
						</div>
						<!-- begin right-title -->
						<div class="col-xs-6 ace_content_right_title">
							<div class="col-xs-7 ace-serch">
								<form class="form-search col-xs-12 ace-form-serch">
									<span class="input-icon">
										<input type="text" placeholder="请输入关键字" class="nav-search-input" id="nav-search-input" autocomplete="off" />
										<i class="icon-search nav-search-icon"></i>
									</span>
								</form><!-- #nav-search -->
							</div>
							<div class="col-xs-5">
								<a data-toggle="dropdown" class="dropdown-toggle" href="#">
									<span class="glyphicon glyphicon-question-sign ace_ques pull-right" aria-hidden="true"></span>
								</a>
								<a data-toggle="dropdown" class="dropdown-toggle" href="#">
									<i class="icon-bell-alt icon-animated-bell pull-right ace_bell"></i>
								</a>
							</div>
						</div>
						<!-- end right-title -->
						<div class="col-xs-6 ace_content_page_left">
							<div class="my-task">
								<h3 class="clearfix">
									公告信息
									<span class="pull-right anno-add">
										<a data-toggle="dropdown" class="dropdown-toggle" href="#">
											<span class="glyphicon glyphicon-plus anno-plus" aria-hidden="true"></span>
											<span class="anno_plus_word">添加项目</span>
										</a>
									</span>
								</h3>
								<hr class="my-line">
							</div>
							<% (0..3).each do |announce| %>
								<ul class="nav nav-pills nav-stacked anno-ul">
									<li>
										<a class="clearfix" href="#">
											<span class="col-xs-9 text-left">这是公告这是公告这是公告这是公告这是公告</span>
											<span class="col-xs-3 text-right">2014-07-07</span>
										</a>
									</li>
								</ul>
							<% end %>
						</div>

						<div class="col-xs-6 ace_content_page_right">
							<div class="my-task">
								<h3>公告详情</h3>
								<hr class="my-line">
							</div>
							<ul class="nav nav-pills nav-stacked anno-ul">
								<li >
									<span class="col-xs-9 text-left">这是公告这是公告这是公告这是公告这是公告</span>
									<span class="col-xs-3 text-right">2014-07-07</span>
								</li>
							</ul>
							<div class="col-xs-12">
								<br>
								<div class="announce-content">
									<p>这是公告这是公告这是公告这是公告这是公告这是公告这是公告这是公告这是公告这是公告这是公告这是公告这是公告这是公告这是公告这是公告这是公告这是公告这是公告这是公告这是公告这是公告这是公告这是公告这是公告这是公告这是公告这是公告这是公告这是公告这是公告这是公告这是公告这是公告这是公告这是公告这是公告这是公告这是公告这是公告这是公告这是公告这是公告这是公告这是公告这是公告这是公告这是公告这是公告这是公告</p>
								</div>
							</div>
						</div>
						<!-- PAGE CONTENT ENDS -->
					</div>
				</div><!-- /.col -->
			</div><!-- /.page-content -->
		</div><!-- /.main-content -->
	</div>

	<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
		<i class="icon-double-angle-up icon-only bigger-110"></i>
	</a>

</div>
<script type="text/javascript">
	jQuery(function($){

		$('.dd').nestable();

		$('.dd-handle a').on('mousedown', function(e){
			e.stopPropagation();
		});

		$('[data-rel="tooltip"]').tooltip();

	});
</script>

