<h1 class="text-danger">hello word</h1>

<%= link_to destroy_user_session_path, :method => :delete, class: "navbar-link" do %>
                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> 退出
              <% end %>