.wechat__applies{
	/**global**/
	html, body{
		height: 100%;
	}
	.no-padding{
		padding: 0;
	}
	.margin-b-10{
		margin-bottom: 10px !important;
	}
	.no-margin{
		margin: 0;
	}
	.my-ul{
		padding-bottom: 10px;
		padding-left: 0;		
		list-style: none;	
		ul li{
			list-style: none; 
		}
		li a:hover{
			color: #fff;
			text-decoration: underline;
		}
		a{
			color: #fff;
			text-decoration: underline;
		}
	}
	.frame{
		margin: 3px 0;
		height: 36px;
		line-height: 36px;
		font-size: 16px;
		background-color: #fff;
		border: 2px #FFEE00 solid;
		.cancel-btn{
			padding: 2px 10px;
			margin-bottom: 5px;
			background-color: #FE3434;
			border: none;
		}
	}
	.my-btn{
		color: #9B2D00;
		background-color: #FFF47E;
		margin:10px 0;
		border-color: #FFF47E;
		border-radius: 20px;
		font-size: 20px;
		box-shadow: 0px 4px  #E6BC40;
		width: 150px;
		height: 42px;
		> div{
			background: image_url("apply_icon.png") no-repeat;
			background-size: 12px 18px;
			background-position: 95% 50%;
		}
	}
	img{
		padding-top: 10px;
		padding-bottom: 10px;
	}
	/**wechat/applies/home**/
	.wrap{
		height: 100%;
		padding: 0 15px;
		img{
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}
	/**wechat/applies/home**/
	.wrap{
		height: 100%;
		padding: 0 15px;
		.content{
			position: absolute;
			bottom: 10px;
			left: 0;
		}
	}
	/**wechat/applies/index**/
	.main{
		width: 100%;
		padding: 20px;
		overflow: auto;
		.my-title{
			color:#fff;
			padding-bottom:10px; 
		}
		.train-name{
			text-align: left;
			text-indent: 10px;
		}
	}
	/**wecaht/applies/new**/
	.my-main{
		.my-row{
			padding: 20px;
			h3{
				margin-top: 20px;
				margin-bottom: 20px;
			}
			.my-p{
				color:#fff;
				margin-bottom: 20px;
				font-size: 16px;
			}
			.my-lg{
				padding:6px 0;
				border-radius: 0;
				background-color: #E5BF13;
				border:1px solid #DBA40A;
			}
			.selected{
				background: image_url("apply_select.png") no-repeat;
				background-size: 32px 32px;
				background-position: 95% 20%;
			}
			label{
				color: #fff;
				line-height: 40px;
				font-size: 16px;
			}
		}
		.my-frame{
			@extend .frame;
			line-height: 0;
		}
		.my-border{
			background-color: #FFEE00;
			color:#fff;
			border:2px #FFEE00 solid;
			padding:5px;
		}
		.wcolor{
			background-color:#fff;
			color:#000;
			border:2px #FFEE00 solid;
			padding:5px;

		}

	}
}
