.wechat__applies{
	/**global**/
	html, body{
		height: 100%;
	}
	.no-padding{
		padding: 0;
	}
	.margin-b-10{
		margin-bottom: 10px !important;
	}
	.no-margin{
		margin: 0;
	}
	.turn-back{
		margin-top: 10px;
		text-align: center;
		a, a:hover{
			color: #fff !important;
			text-decoration: underline;
		}
	}
	.frame{
		margin-bottom: 5px;
		margin-bottom: 5px;
		height: 36px;
		line-height: 36px;
		font-size: 16px;
		background-color: #fff;
		border: 2px #FFEE00 solid;
		.cancel-btn{
			padding: 2px 10px;
			margin-bottom: 5px;
			background-color: #FE3434;
			border: none;
		}
		a{
			color: #333;
		}
	}
	.rpadding{
		padding-right: 5px;
	}
	.lpadding{
		padding-left: 5px;
	}
	.my-btn{
		color: #9B2D00;
		background-color: #FFF47E;
		margin:10px 0;
		border-color: #FFF47E;
		border-radius: 18px;
		font-size: 18px;
		box-shadow: 0px 4px  #E6BC40;
		width: 140px;
		height: 36px;
		> div{
			background: image_url("apply_icon.png") no-repeat;
			background-size: 10px 16px;
			background-position: 100% 35%;
		}
	}
	.my-p{
		color:#fff;
		margin: 15px 0;
		font-size: 18px;
		line-height: 24px;
	}
	/**wechat/applies/home**/
	.wrap{
		height: 100%;
		padding: 0 15px;
		img{
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}
	/**wechat/applies/home**/
	.wrap{
		height: 100%;
		padding: 0 15px;
		.content{
			position: absolute;
			bottom: 10px;
			left: 0;
		}
	}
	/**wechat/applies/index**/
	.main{
		width: 100%;
		padding: 20px;
		overflow: auto;
		.my-title{
			color:#fff;
			padding-bottom:10px; 
		}
		.train-name{
			text-align: left;
			text-indent: 10px;
		}
	}
	/**wecaht/applies/new**/
	.my-main{
		.my-row{
			padding: 15px 15px 0;
			.my-lg{
				padding:6px 0;
				margin: 5px 0;
				border-radius: 0;
				background-color: #E5BF13;
				border:1px solid #DBA40A;
			}
			.selected{
				background: image_url("apply_select.png") no-repeat;
				background-size: 32px 32px;
				background-position: 95% 20%;
			}
			label{
				color: #fff;
				line-height: 36px;
				font-size: 16px;
			}
		}
		.my-frame{
			@extend .frame;
			line-height: 0;
		}
		.my-border{
			background-color: #FFEE00;
			color:#fff;
			border:2px #FFEE00 solid;
			padding:6px 5px;
		}
		.wcolor{
			background-color:#fff;
			color:#000;
		}
	}
}
