<div class="container-fluid">
	<div class="row">
		<div class="col-sm-2">
			<div class="row">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<ul class="nav nav-pills nav-stacked">
						<li class="active">
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingOne">
									<h4 class="panel-title">
										<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
											个人项目
										</a>
									</h4>
								</div>
								<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
									<div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingTwo">
									<h4 class="panel-title">
										<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
											Collapsible Group Item #2
										</a>
									</h4>
								</div>
								<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
									<div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>		
		</div>
		<div class="col-sm-10 main-bg">
				<div class="col-sm-6">
					<div class="row blue-bg main">
						<div class="col-sm-12 text-right">
							<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
							<span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
							<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
						</div>
						<div class="col-sm-3 text-center">
							<%=image_tag"schedule.png"%>
						</div>
						<div class="col-sm-9">
							<h4>在线教育平台</h4>
							<p>（总任务：20   已完成：15 待办中：5 验收通过：3）</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="row yellow-bg main">
						<div class="col-sm-12 text-right">
							<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
							<span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
							<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
						</div>
						<div class="col-sm-3 text-center">
							<%=image_tag"schedule.png"%>
						</div>
						<div class="col-sm-9">
							<h4>在线教育平台</h4>
							<p>（总任务：20   已完成：15 待办中：5 验收通过：3）</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="row orange-bg main">
						<div class="col-sm-12 text-right">
							<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
							<span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
							<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
						</div>
						<div class="col-sm-3 text-center">
							<%=image_tag"schedule.png"%>
						</div>
						<div class="col-sm-9">
							<h4>在线教育平台</h4>
							<p>（总任务：20   已完成：15 待办中：5 验收通过：3）</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="row purple-bg main">
						<div class="col-sm-12 text-right">
							<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
							<span class="glyphicon glyphicon-signal" aria-hidden="true"></span>
							<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
						</div>
						<div class="col-sm-3 text-center">
							<%=image_tag"schedule.png"%>
						</div>
						<div class="col-sm-9">
							<h4>在线教育平台</h4>
							<p>（总任务：20   已完成：15 待办中：5 验收通过：3）</p>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>