<div class="container">
	<div>
		<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">ios</a></li>
			<li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">android</a></li>
			<li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">web</a></li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="home">
				<%= render partial: "data" %>
			</div>
			<div role="tabpanel" class="tab-pane" id="profile">
				<%= render partial: "data" %>
			</div>
			<div role="tabpanel" class="tab-pane" id="messages">
				<%= render partial: "data" %>
			</div>
		</div>

	</div>
</div>