<div class="wrap">
	<div class="row">
		<div class="col-xs-12 text-center content">
			<%= link_to new_wechat_apply_path do %>
				<botton class="btn btn-default my-btn"><div class="text-left">&nbsp;&nbsp;我要报名</div></botton>
			<% end %>
			<ul class="my-ul">
				<li><%= link_to("历史报名情况", wechat_applies_path ) %></li>
			</ul>	
		</div>	
	</div>
</div>
<script>
	$(function(){
		$.backstretch("<%= image_url "apply_bg1.png"%>");
	});
</script>