<div class="container">
	<h3>您的历史报名纪录</h3>
	<div class="row">
		<div class="col-xs-4">
			<span>01. ios开发</span>
		</div>
		<div class="col-xs-4">
			<span>2015-04-03</span>
		</div>
		<div class="col-xs-4">
			<button class="btn btn-default">取消报名</button>
		</div>
	</div>
</div>

<script>
	$(function(){
		$.backstretch("<%= image_url "apply_bg2.png"%>");
	});
</script>