<div class="main my-row clearfix">
	<div class="text-center">
		<%=image_tag"apply2.png",width:"90%"%>
	</div>
	<h3 class="my-title text-center">您的报名纪录</h3>
	<!-- 加载当前学生的报名记录 -->
	<br>
	<div id="apply_list">
		<%= render partial: "apply_list" %>
	</div>
</div>	

<div class="col-xs-12 turn-back bottom-link"><%= link_to("返回上一页", wechat_root_path(openid: session[:openid])) %></div>

<script>
	$(function(){
		$.backstretch("<%= image_url "apply_info3.png"%>");
	});
</script>