<div class="wrap">
	<div class="row">
		<div class="col-xs-12">
			<%=image_tag"apply2.png",width:"80%"%>
		</div>
		<div class="col-xs-12">
			<%=image_tag"apply1.png",width:"80%"%>
		</div>
	</div>
</div>