<div class="wrap">
	<div class="row">
		<div class="col-xs-12 text-center content">
			<botton class="btn btn-default my-btn">我要报名
				 <div class="my-icon">
			 		<%=image_tag"apply_icon.png",width:"10px%"%>
			 </div>	
			</botton>
			
			<ul>
				<li>
					<a href="#">历史报名情况</a>
				</li>
			</ul>	
		</div>	
	</div>
</div>
<script>
	$(function(){
		$.backstretch("<%= image_url "apply_bg1.png"%>");
	});
</script>