<li>
  <%#= link_to_unless current_page.first?, t('views.pagination.previous'), url, :rel => 'prev', :remote => remote , :class => "prev_page" %>
  <%= link_to t('views.pagination.previous'), url, :rel => 'prev', :remote => remote , :class => "prev_page" %>
</li>
