.training_platform__announces__index{
	.anno-ul{
		margin: 0px;
		> li a{
			padding: 10px 0px;
			color: #333;
		}
	}
	.anno-col{
		padding: 0;
	}
	.anno-detail > a > span{
		font-size: 16px;
		color: #00CBD2;
		line-height: 25px;
	}
	.announce-content{
		p{
			line-height: 40px;
		}
	}
}