// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-bg{
  padding: 20px 0;
  color: #fff;
  .main{
    margin:0 0px 15px 0px;
    padding: 5px 0 20px;
  }
  .blue-bg{
    background-color: #2EC8BA;
  }
  .yellow-bg{
    background-color: #F6C22F;
  }
  .orange-bg{
    background-color: #FF5A15;
  }
  .purple-bg{
    background-color: #A600F9;
  }
  .project-title-show {
    a {
      color: #fff;
    }

    .yellow-start {
      color: orange;
    }

    .project-set-btn {
      display: inline;
      ul.dropdown-menu{
        right: -16px;
        left: auto;
        min-width: 100px;
        li {
          a {
            color: #000;
            padding-top: 5px;
            padding-bottom: 5px;
          }
        }
      } 
    }
  }
} 
//home/index page

.navbar {
	background-color:#000!important;
	color:#222 !important;
	margin-bottom:0!important;
	border-radius:0 !important;
}

.project_name {
	text-align:center;
	padding-bottom:5px;
	padding-top:5px;
	
	.project_name_t {
		font-size:18px;
		color:#fff;
	}
}
.ace-nav-left {
	i {
		font-size:14px!important;
	}
	li.active> a {
		background-color:#00ACAC!important;
		color:#fff!important;
	}
	li {
		border-color:#222A2D!important;
		.submenu>li>a:hover{
			color:#fff!important;
		}
		a {  
			padding:0 6px;
		}
	}
  .tooltip {
    width:80%;
  }
}
.page-content {
  padding:0px 0px 25px;
  .ace_content_page_left, .ace_content_page_right{
    border: solid 0.5px #e1e1e1;
  }

  //内容title
  .ace_content_right_title, .ace_content_left_title {
    background-color:#19B29F;
    padding: 1px;
    .input-icon {
      margin-top:3px;
      input {
         border-radius:100px !important;
      }
    }
    .ace_bell, .ace_ques {
      margin:6.5px 5px;
      font-size:20px;
    }
    .ace_plus {
      margin:6.5px 5px;
      padding:2px;
      border:solid 2px #fff;
      border-radius:10px;
    }
    .ace_plus_word, .ace_plus {
      color:#fff;
      font-size:12px;
    }
  }
  .ace_content_right_title  {
    background-color:#00CBD2;
  }
  
  //左侧内容
  .ace_content_page_left {
    background-color: #fdfdfd;
    min-height: 600px;

    .my-task{
      .my-line{
        border-color: #A4A4A4;
        margin: 10px 0;
      }
    }

    h4.my-progress {
      font-weight: normal;
    }



    //任务一览
    .task-list-row {
      background-color: #fff;
      margin: 10px;
      border: 1px solid #ccc;
      padding: 5px;
      color: #000; 
      cursor: pointer;
      
      a {
        color: #000;
        display: block; 
      }
      
      &:hover, &.active {
        background-color: #5ac3b7;
        color: #fff;
        a {
          color: #fff; 
        }
      }

      &.task-list-blank,&.task-list-blank:hover {
        background-color: #F7F9F9;
        cursor: default;
        color: #000;
      }

      //状态dropdown
      .task-state-dropdown {
        li a{
          padding-top: 5px;
          padding-bottom: 5px;
          color: #2adcc9;
          &:hover {
            color: #fff;
            background-color: #61d5c7;
          }
        }
      }
    }

  }


  //右侧内容
  .ace_content_page_right {
    //任务列表详细
    .task-category-detail {
      height: 150px;
      .task-categoty-description {
        text-indent: 2em;
      }
    }

    .my-task{
      .my-line{
        border-color: #A4A4A4;
        margin: 10px 0;
      }
    }
    //任务详情操作按钮组
    .task-ops {
      margin-left: 0px;
      margin-right: 0px;
      .btn {
        width: 95%;
      }

      .task-description {
        height: 100px;
      }
    }
    
  }

  //操作下拉
  .dropdown{
    padding: 0px;
    .dropdown-btn {
      color: #2adcc9 !important;
      padding: 1px 8px;
      border-radius: 20px;
      background-color: #fff !important;
      font-weight: normal;
      .my-caret{
        color: #000;
      }
    }
    
    .dropdown-menu {
      min-width: 70px;
    }
  }
}

//training_platform/share/widget
.ace_widget_box {
  background-color:#fbffff;
}

// .task_d {
//   padding-bottom:40px;
// }.task_t {
//   padding-left:30px;
// }
// .percent_number {
// 	font-size:25px;
// }
// .my-details{
// 	padding: 0 20px;
// 	.col-xs-2{
// 		padding: 0;
// 	}
// }
// .my-menu{
// 	min-width: 50px;
// }
// .a-col{
// 	padding: 10px 0 0 15px;
// }
// .my-bbtn{
// 	padding: 15px 15px 20px;
// }
