// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-bg{
  padding: 20px 0;
  color: #fff;
  .main{
    margin:0 0px 15px 0px;
    padding: 5px 0 20px;
  }
  .blue-bg{
    background-color: #2EC8BA;
  }
  .yellow-bg{
    background-color: #F6C22F;
  }
  .orange-bg{
    background-color: #FF5A15;
  }
  .purple-bg{
    background-color: #A600F9;
  }
  .project-title-show {
    a {
      color: #fff;
    }

    .project-set-btn {
      display: inline;
      ul li {
        a {
          color: #000;
        }
      }
    }
  }
} 
//home/index page

.navbar {
	background-color:#000!important;
	color:#222 !important;
	margin-bottom:0!important;
	border-radius:0 !important;
}

.project_name {
  text-align:center;
  padding-bottom:5px;
  padding-top:5px;
  
  .project_name_t {
    font-size:18px;
    color:#fff;
  }
}
.ace-nav-left {
  i {
    font-size:14px!important;
  }
  li.active> a {
    background-color:#00ACAC!important;
    color:#fff!important;
  }
  li {
    border-color:#222A2D!important;
    .submenu>li>a:hover{
      color:#fff!important;
    }
    a {  
      padding:0 6px;
    }
  }
}
.page-content {
  padding:1px 1px 25px;
  .ace_content_page_left, .ace_content_page_right{
    border: solid 0.5px #e1e1e1;
  }
  .ace_content_right_title, .ace_content_left_title {
    background-color:#19B29F;
    .input-icon > input {
      border-radius:100px !important;
      margin-top:3px;
    }
    .ace_bell, .ace_ques {
      margin:6.5px 5px;
      font-size:20px;
    }
    .ace_plus {
      margin:6.5px 5px;
      padding:2px;
      color:#fff;
      border:solid 2px #fff;
      border-radius:10px;
    }
    .ace_plus_word {
      color:#fff;
    }
  }
  .ace_content_right_title  {
    background-color:#00CBD2;
  }
}
.my-task{
	padding: 0 10px;
	font-weight: bold;
	.my-line{
		border-color: #A4A4A4;
	}
}
.my-progress{
	padding-left:20px; 
}
.backlog{
	margin:10px 10px 10px 30px;
	border:1px solid #ccc;
	padding: 5px;
	.col-xs-3{
		padding: 0;
	}
	.business{
		font-size: 16px;
	}
}
.dropdown{
	.my-blue{
		color: #2adcc9 !important;
	}
	.my-black{
		color: #000 !important;
	}
	.my-btn{
		padding: 2px 16px;
		border-radius: 20px;
		background-color: #fff !important;
		font-weight: normal;
		.my-caret{
			color: #000;
		}
	}
}
.percent_number {
  font-size:25px;
}
.my-details{
	padding: 0 20px;
	.col-xs-2{
		padding: 0;
	}
}
.my-menu{
	min-width: 50px;
}
