<div class="my-banner">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-1 col-md-10 my-shadow">
				<div class="info-pic text-center">
					<%= image_tag"my_photo.png"%>
					<h3>张三丰</h3>
					<p>大唐邦彦信息学院  &nbsp;&nbsp; &nbsp;&nbsp; 计算机信息专业</p>
					<p>印象评价   &nbsp;&nbsp; ｜  &nbsp;&nbsp;  个人资料</p>
				</div>
			</div>
		</div>
	</div>	
</div>