<div class="col-md-2 my-impression text-center">
	<span class="my-comment">棒棒哒(20)</span>
</div>
<div class="col-md-2 my-impression text-center">
	<span class="my-comment">棒棒哒(20)</span>
</div>
<div class="col-md-2 my-impression text-center">
	<span class="my-comment">棒棒哒(20)</span>
</div>
<div class="col-md-2 my-impression text-center">
	<span class="my-comment">棒棒哒(20)</span>
</div>
<div class="col-md-2 my-impression text-center">
	<span class="my-comment">棒棒哒(20)</span>
</div>
<div class="col-md-2 my-impression text-center">
	<span class="my-comment">棒棒哒(20)</span>
</div>
<div class="col-md-2 my-impression text-center">
	<span class="my-comment">棒棒哒(20)</span>
</div>
<div class="col-md-2 my-impression text-center">
	<span class="my-comment">棒棒哒(20)</span>
</div>