<div class="waperbg">
  <div class="container">
    <div class="row">
      <%=render "left_nav" %>
      <div class="col-md-9">
        <div class="row recruit_title">
          <div class="col-md-5"><hr class="divider"></div>
          <div class="col-md-2 recruit_class_word"><span class="recruit_class_title" >招聘分类</span></div>
          <div class="col-md-5"><hr class="divider"></div>
        </div>
      </div>
    </div>
  </div>
</div>

