<div class="container">
	<ol class="courses-bread breadcrumb">
	<span><i class="iconfont">&#xe60a;</i></span>
	<li><%= link_to "课程中心", courses_path %></li>
	<li class="active">大学课程</li>
	</ol>
	<%= render partial: "share/category" %>
	<div class="row">
		<div class="title-bar">
			<h4 class="text-center title">院校选择</h4>
			<div class="line"></div>
		</div>
		<div class="col-xs-12" id="CollegeList">
		<% @colleges.each do |college| %>
			<div class="col-xs-3 college-list">
				<%= link_to(image_tag(college.try(:image).try(:avatar).try(:url, :c_250_190), class: "college_img img-responsive"), college)%>
			</div>
		<% end %>
		</div>
	</div>
</div>