<div class="courses__details courses__show">
<div class="container">
	<%=render partial: "courses_intro", locals: {course: @course} %>
	<div class="wrapper detail">
		<%= raw @course.detail %>
	</div>
</div>
</div>