<div class="container">
	<div class="row category">
		<div class="title-bar">
			<h4 class="text-center title">专业分类</h4>
			<div class="line"></div>
		</div>
		<div class="search-course">
			<div class="col-sm-3">
				<%= link_to courses_path, class: "link-lg active", param: "" do %>
				<span>全部课程</span>
				<% end %>
			</div>
			<% @categories.each_with_index do |category, index|%>
				<div class="col-sm-3">
					<%= link_to courses_path(category_id: category.id), class: "link-lg" do %>
					  <span><%= category.name %></span>
					<% end %>
				</div>
			<% end %>
		</div>
		<!-- <div class="col-sm-3">
			<div class="col-sm-6">
				<%#= link_to "", class: "link-sm" do %>
				<span>全部课程</span>
				<% #end %>
			</div>
			<div class="col-sm-6">
				<%#= link_to "", class: "link-sm" do %>
				<span>全部课程</span>
				<% #end %>
			</div>
		</div> -->
	</div>

	<div class="row">
		<div class="title-bar">
			<h4 class="text-center title">课程中心</h4>
			<div class="line"></div>
		</div>
		<div id="courseList">
		  <%= render partial: "course", locals: {category: '在线课程'} %>
		</div>
	</div>
</div>