<div class="container">
	<ol class="courses-bread breadcrumb">
	<span><i class="iconfont">&#xe60a;</i></span>
	<li class="active">全部课程</li>
	</ol>
	<%= render partial: "share/category" %>
	<div class="row">
		<div class="title-bar">
			<h4 class="text-center title">课程中心</h4>
			<div class="line"></div>
		</div>
		<div id="courseList">
		<div class="media col-xs-12">
			<% (0..8).each do |i| %>
			<div class="col-sm-4">
				<%= render partial: "share/media" %>
			</div>
			<% end %>
		</div>
		</div>
	</div>
</div>