@import "variables";
//header
.my-navbar{
	font-weight: bold;
	border: none !important;
	li.active{
		border-bottom: 4px solid $color-green;
	}
	.sign{
		font-size: 12px;
		li > a{
			color: $color-sign !important;
		}
	}
}

//footer
.footer-top{
	background-color: $footer-bg;
	min-height: 190px;
	padding-top: 20px;
	.footer-link{
		border-left: 1px solid $border-ul;
		padding-left: 15px;
		li > a{
			color: $font-default;
			text-decoration: none;
			font-size: 12px;
			&:hover{
				color: $color-sign;
			}
		}
	}
	p{
		padding-top: 10px;
	}
}
.footer-bottom{
	background-color: $footer-gray;
	height: 60px;
	line-height: 60px;
	font-size: 12px;
}

//global style
.my-container{
	padding: 0;
}
.my-row{
	margin: 0 !important;
}
.col-0{
	padding: 0 !important;
}
.col-5{
	padding: 5px !important;
}
.my-ul{
	padding: 0;
	list-style: none;
}
.gray-bg{
	background-color: $gray-bg;
}

.devise-modal {
	.modal-sm {
		width: 350px;
		margin: 70px auto;
	}
	.user-devise-form {
		.title span {
			border-bottom: 2px solid #5ac3b7;
		}
		form {
			padding: 10px 15px;
			.form-group {
				margin-bottom: 20px;
				.form-control {
					height: 42px;
				}
			}
			.form-actions {
				margin-bottom: 20px;
			}
			.btn {
				width: 100%;
				line-height: 27px;

				&.btn-info {
					background-color: #5ac3b7;
				}

				&.btn-success {
					background-color: #61c35a;
				}

				&.btn-danger {
					background-color: #f25d64;
				}
			}
		}

	}
}
.paging li{
	display: inline;
	list-style: none;
	text-decoration: none;			
	a{
		color: #6E6E6E;
		padding: 10px 5px;
	}
	a:hover, a:focus{
		text-decoration: none;
		color: white;
		background: #00A369;			
		border-radius: 2px;
	}
}
