@import "variables";
//header
.my-navbar{
	font-weight: bold;
	border: none !important;
	li.active{
		border-bottom: 4px solid $color-green;
	}
	.sign{
		font-size: 12px;
		li > a{
			color: $color-sign !important;
		}
	}
}

//footer
.footer-top{
	background-color: $footer-bg;
	min-height: 190px;
	padding-top: 20px;
	.footer-link{
		border-left: 1px solid $border-ul;
		padding-left: 15px;
		li > a{
			color: $font-default;
			text-decoration: none;
			font-size: 12px;
			&:hover{
				color: $color-sign;
			}
		}
	}
	p{
		padding-top: 10px;
	}
}
.footer-bottom{
	background-color: $footer-gray;
	height: 60px;
	line-height: 60px;
	font-size: 12px;
}
//global style
.my-ul{
	padding: 0;
	list-style: none;
}
.gray-bg{
	background-color: $gray-bg;
}