<div class="sidebar" id="sidebar">
  <script type="text/javascript">
    try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
  </script>

  <div class="project_name">
    <span class="project_name_t">这里是项目名称</span>
  </div>

  <ul class="nav nav-list ace-nav-left">
    <li class="active">
      <a href="index.html">
        <i class="icon-dashboard"></i>
        <span class="menu-text"> 公告信息 </span>
      </a>
    </li>

    <li>
      <a href="#" class="dropdown-toggle">
        <i class="icon-desktop"></i>
        <span class="menu-text"> 我的任务 </span>
        <b class="arrow icon-angle-down"></b>
      </a>

      <ul class="submenu">
        <li>
          <a href="elements.html">
            <i class="icon-double-angle-right"></i>
            组件
          </a>
        </li>

        <li>
          <a href="#">
            <i class="icon-double-angle-right"></i>
            按钮 &amp; 图表
          </a>
        </li>

        <li>
          <a href="#">
            <i class="icon-double-angle-right"></i>
            树菜单
          </a>
        </li>

        <li>
          <a href="#">
            <i class="icon-double-angle-right"></i>
            jQuery UI
          </a>
        </li>

        <li>
          <a href="#">
            <i class="icon-double-angle-right"></i>
            可拖拽列表
          </a>
        </li>
      </ul>
    </li>

    <li>
      <a href="#" class="dropdown-toggle">
        <i class="icon-list"></i>
        <span class="menu-text"> 任务列表 </span>

        <b class="arrow icon-angle-down"></b>
      </a>

      <ul class="submenu">
        <li>
          <a href="tables.html">
            <i class="icon-double-angle-right"></i>
            简单 &amp; 动态
          </a>
        </li>

        <li>
          <a href="jqgrid.html">
            <i class="icon-double-angle-right"></i>
            jqGrid plugin
          </a>
        </li>
      </ul>
    </li>

    <li>
      <a href="#" class="dropdown-toggle">
        <i class="icon-edit"></i>
        <span class="menu-text"> 团队成员 </span>

        <b class="arrow icon-angle-down"></b>
      </a>

      <ul class="submenu">
        <li>
          <a href="form-elements.html">
            <i class="icon-double-angle-right"></i>
            李毅杰
          </a>
        </li>

        <li>
          <a href="form-wizard.html">
            <i class="icon-double-angle-right"></i>
            樊伟
          </a>
        </li>

        <li>
          <a href="wysiwyg.html">
            <i class="icon-double-angle-right"></i>
            张留刚
          </a>
        </li>

        <li>
          <a href="dropzone.html">
            <i class="icon-double-angle-right"></i>
            崔军伟
          </a>
        </li>

        <li>
          <a href="dropzone.html">
            <i class="icon-double-angle-right"></i>
            陈博
          </a>
        </li>
      </ul>
    </li>

    <li>
      <a href="calendar.html">
        <i class="icon-calendar"></i>

        <span class="menu-text">
          我的课程
          <span class="badge badge-transparent tooltip-error" title="2&nbsp;Important&nbsp;Events">
            <i class="icon-warning-sign red bigger-130"></i>
          </span>
        </span>
      </a>
    </li>

    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
    <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
      <button class="btn btn-success">
        <i class="icon-signal"></i>
      </button>

      <button class="btn btn-info">
        <i class="icon-pencil"></i>
      </button>

      <button class="btn btn-warning">
        <i class="icon-group"></i>
      </button>

      <button class="btn btn-danger">
        <i class="icon-cogs"></i>
      </button>
    </div>

    <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
      <span class="btn btn-success"></span>

      <span class="btn btn-info"></span>

      <span class="btn btn-warning"></span>

      <span class="btn btn-danger"></span>
    </div>
  </div><!-- #sidebar-shortcuts -->
  </ul><!-- /.nav-list -->

  <div class="sidebar-collapse" id="sidebar-collapse">
    <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
  </div>

  <script type="text/javascript">
    try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
  </script>
</div>