<div class="row task-list-row no-hover task-list-blank" style="display: <%= is_show ? 'block' : 'none' %>;">
  <div class="col-xs-12 col-sm-12 col-lg-12 col-lg-12 no-padding text-center">
    <%= info %>
  </div>
</div>