  <div class="row">
    <div class="widget-box transparent">
      <div class="widget-header widget-header-small">
        <h4 class="blue smaller">
          <i class="icon-rss orange"></i>
          动态
        </h4>

        <div class="widget-toolbar action-buttons">
          <a href="#" data-action="reload">
            <i class="icon-refresh blue"></i>
          </a>
        </div>
      </div>

      <div class="widget-body">
        <div class="widget-main padding-8">
          <div id="profile-feed-1" class="profile-feed">
            <div class="profile-activity clearfix">
              <div>
                <!-- <img class="pull-left" alt="Alex Doe's avatar" src="assets/avatars/avatar5.png" /> -->
                <a class="user" href="#"> Alex Doe </a>
                changed his profile photo.
                <a href="#">Take a look</a>

                <div class="time">
                  <i class="icon-time bigger-110"></i>
                  an hour ago
                </div>
              </div>

              <div class="tools action-buttons">
                <a href="#" class="red">
                  <i class="icon-remove bigger-125"></i>
                </a>
              </div>
            </div>

            <div class="profile-activity clearfix">
              <div>
                <!-- <img class="pull-left" alt="Susan Smith's avatar" src="assets/avatars/avatar1.png" /> -->
                <a class="user" href="#"> Susan Smith </a>

                is now friends with Alex Doe.
                <div class="time">
                  <i class="icon-time bigger-110"></i>
                  2 hours ago
                </div>
              </div>

              <div class="tools action-buttons">
                <a href="#" class="red">
                  <i class="icon-remove bigger-125"></i>
                </a>
              </div>
            </div>

            <div class="profile-activity clearfix">
              <div>
                <i class="pull-left thumbicon icon-ok btn-success no-hover"></i>
                <a class="user" href="#"> Alex Doe </a>
                joined
                <a href="#">Country Music</a>

                group.
                <div class="time">
                  <i class="icon-time bigger-110"></i>
                  5 hours ago
                </div>
              </div>

              <div class="tools action-buttons">
                <a href="#" class="red">
                  <i class="icon-remove bigger-125"></i>
                </a>
              </div>
            </div>

            <div class="profile-activity clearfix">
              <div>
                <i class="pull-left thumbicon icon-picture btn-info no-hover"></i>
                <a class="user" href="#"> Alex Doe </a>
                uploaded a new photo.
                <a href="#">Take a look</a>

                <div class="time">
                  <i class="icon-time bigger-110"></i>
                  5 hours ago
                </div>
              </div>

              <div class="tools action-buttons">
                <a href="#" class="red">
                  <i class="icon-remove bigger-125"></i>
                </a>
              </div>
            </div>

            <div class="profile-activity clearfix">
              <div>
                <!-- <img class="pull-left" alt="David Palms's avatar" src="assets/avatars/avatar4.png" /> -->
                <a class="user" href="#"> David Palms </a>

                left a comment on Alex's wall.
                <div class="time">
                  <i class="icon-time bigger-110"></i>
                  8 hours ago
                </div>
              </div>

              <div class="tools action-buttons">
                <a href="#" class="red">
                  <i class="icon-remove bigger-125"></i>
                </a>
              </div>
            </div>

            <div class="profile-activity clearfix">
              <div>
                <i class="pull-left thumbicon icon-edit btn-pink no-hover"></i>
                <a class="user" href="#"> Alex Doe </a>
                published a new blog post.
                <a href="#">Read now</a>

                <div class="time">
                  <i class="icon-time bigger-110"></i>
                  11 hours ago
                </div>
              </div>

              <div class="tools action-buttons">
                <a href="#" class="red">
                  <i class="icon-remove bigger-125"></i>
                </a>
              </div>
            </div>

            <div class="profile-activity clearfix">
              <div>
                <!-- <img class="pull-left" alt="Alex Doe's avatar" src="assets/avatars/avatar5.png" /> -->
                <a class="user" href="#"> Alex Doe </a>

                upgraded his skills.
                <div class="time">
                  <i class="icon-time bigger-110"></i>
                  12 hours ago
                </div>
              </div>

              <div class="tools action-buttons">
                <a href="#" class="red">
                  <i class="icon-remove bigger-125"></i>
                </a>
              </div>
            </div>

            <div class="profile-activity clearfix">
              <div>
                <i class="pull-left thumbicon icon-key btn-info no-hover"></i>
                <a class="user" href="#"> Alex Doe </a>

                logged in.
                <div class="time">
                  <i class="icon-time bigger-110"></i>
                  12 hours ago
                </div>
              </div>

              <div class="tools action-buttons">
                <a href="#" class="red">
                  <i class="icon-remove bigger-125"></i>
                </a>
              </div>
            </div>

            <div class="profile-activity clearfix">
              <div>
                <i class="pull-left thumbicon icon-off btn-inverse no-hover"></i>
                <a class="user" href="#"> Alex Doe </a>

                logged out.
                <div class="time">
                  <i class="icon-time bigger-110"></i>
                  16 hours ago
                </div>
              </div>

              <div class="tools action-buttons">
                <a href="#" class="red">
                  <i class="icon-remove bigger-125"></i>
                </a>
              </div>
            </div>

            <div class="profile-activity clearfix">
              <div>
                <i class="pull-left thumbicon icon-key btn-info no-hover"></i>
                <a class="user" href="#"> Alex Doe </a>

                logged in.
                <div class="time">
                  <i class="icon-time bigger-110"></i>
                  16 hours ago
                </div>
              </div>

              <div class="tools action-buttons">
                <a href="#" class="red">
                  <i class="icon-remove bigger-125"></i>
                </a>
              </div>
            </div>
          </div>
          <form>
            <div class="form-actions">
              <div class="input-group">
                <input placeholder="Type your message here ..." type="text" class="form-control" name="message" />
                <span class="input-group-btn">
                  <button class="btn btn-md btn-info no-radius" type="button">
                    <i class="icon-share-alt"></i>
                    发送
                  </button>
                </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>