<div class="container">
	<ol class="courses-bread breadcrumb">
	<span><i class="iconfont">&#xe60a;</i></span>
	<li><a href="#">课程中心</a></li>
	<li><a href="#">技术体系</a></li>
	<li class="active">Java语言开发知识体系</li>
	</ol>
	<div class="row category">
		<div class="title-bar">
			<h4 class="text-center title">体系简介</h4>
			<div class="line"></div>
		</div>
		<div class="system-intro col-sm-12">这是体系简介这是体系简介这是体系简介这是体系简介这是体系简介这是体系简介这是体系简介，这是体系简介这是体系简介这是体系这是体系简介这是体系简介这是体系简介这是体系简介这是体系简介这是体系简介这是体系简介，这是体系简介这是体系简介这是体系这是体系简介这是体系简介这是体系这是体系简介这是体系简介这是体系这是体系简介这是体系简介这是体系这是体系简介这是体系简介这是体系这是体系简介这是体系简介这是体系。</div>

	</div>
	<div class="row">
		<div class="title-bar">
			<h4 class="text-center title">课程中心</h4>
			<div class="line"></div>
		</div>
		<div class="col-xs-12">
			<div class="col-xs-12 system-bordered">
				<p><i class="system-dtsgixinyuan iconfont">&#xe605;</i>
				开发环境搭建（本阶段讲解了Java开发需要掌握的基础知识和软件）</p>

				<div class="col-sm-4 bordered">
					<div>
					  <%= link_to "#" do %>
					  		<%= image_tag "system_picture.png", width:"100%", class:"img-responsive" %>
							<div class="col-sm-12 mt-10">
								<p class="text-muted course-descrip">dfhdhdhdhd</p>
								<p class="text-muted course-title">hdfhdfhdfhdfhdfhdf</p>
							</div>
							<div class="col-sm-12 system-icon">
								<i class="icon-tubiao iconfont"></i> 465346
								&nbsp;&nbsp;&nbsp;
								<i class="icon-shizhong iconfont"></i>yrtyrtyrthtfjryj
								<b class="pull-right">免费</b>
							</div>
						<% end %>
					</div>
				</div>

			</div>
			<div class="col-xs-12 system-bordered">
				<i class="system-dtsgixinyuan iconfont">&#xe604;</i>
				开发环境搭建（本阶段讲解了Java开发需要掌握的基础知识和软件）
			</div>
			<div class="col-xs-12 system-bordered">
				<i class="system-dtsgixinyuan iconfont">&#xe604;</i>
				开发环境搭建（本阶段讲解了Java开发需要掌握的基础知识和软件）
			</div>
			<div class="col-xs-12">
				<i class="system-dtsgixinyuan iconfont">&#xe605;</i>
			</div>
		</div>
	</div>
</div>