// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.media {
	padding: 0!important;
}
.colleges__index {
	#CollegeList {
		padding: 0 7.5px;
		margin-bottom: 25px;
		.college-list {
			padding: 0 7.5px;
		}
		.college_img {
			border: solid 1px #e1e1e1;
			margin-bottom: 25px;
		}
	}
}

.courses__index, .system__show {
	.show-more {
		border: solid 1px #e3e3e3;
		width: 100%;
		padding: 8px 0;
		color: #5DC2B8;
		.icon-xiangxiazhankai {
			font-size: 12px;
		}
	}
}

.system__index, .system__show {
	.system {
		padding: 0;
		img:hover { 
				transition:All 1s;
			   	transform:scale(1.2);    
				-webkit-transform:scale(1.2);    
				-moz-transform:scale(1.2);    
				-o-transform:scale(1.2);    
				-ms-transform:scale(1.2);
		}
		.system-list {
			padding: 0 15px;
			.system-list-pic {
				padding: 0;
				overflow: hidden;
			}
			.system-list-pictip {
				padding: 0;
				color: #fff;
				background-color: rgba(0,0,0,0.4);
				line-height: 48px;
				position: relative;
					left: 0;
					top: -50px;
				.class-title {
					font-size: 18px;
				}
				.system-icon {
					font-size: 15px;
					padding-right: 5px;
					color: #37B4A0;
				}
			}
		}
	}
}

.courses__show{
	.sub_head{
		margin: 10px 0;
	}
	.wrapper{
		border:1px solid #ccc;
		//padding: 20px;
		background-color:#ECECEC;
		margin-bottom: 20px;	
		.media-body{
			padding-left: 10px;
			h2{
				margin-bottom: 20px;
			}
			.name{
				font-size: 18px;
			}
			span{color: #9D9B9C;}
			.click{
				padding: 0 20px 0 40px;
				a{
					color: #FFC500;
					text-decoration: none;
					font-size: 16px;
				}
			}
			p{
				font-weight: bold;
				font-family: "微软雅黑";
				line-height: 2;
				padding-top: 20px;
				a{
					color: #FF0000;
				}
			}
			.btn{
				margin-left: 80px;
				border-radius:0;
				background-color: #2DC8B8;
				color: #fff;
				border:1px solid #ccc;

			}
		}
		.col-xs-3{
			padding:10px 0;
			position: relative;
			.shadow{
				color: #fff;
				padding: 5px 10px 5px 20px;
				background: rgba(0,0,0,0.6);
				position: absolute;
				bottom: 11px;
				span{
					color:#FD0013;
					font-size: 20px;
					padding-left: 20px;
				}
			}
		}
	}
	.online{
		padding: 20px;
	}
	.online-courses{
		padding-bottom: 20px;
		h3{
			padding-left: 7px;
		}
	}
}

.courses__details{
	.detail{
		padding: 0 30px 20px 30px;
		h3{
			color: #2DC8B8;
		}
		p{
			text-indent: 2em;
		}
	}
}

.system__show, .career__show {
	.system-bordered {
		border-left: 8px solid #36B39E;
		span {
			font-size: 20px;

		}
		.system-dtsgixinyuan {
			// margin-left: -20px;
			background-color: #fff;
			font-size: 30px;
			position: relative;
				top: -10px;
				left: -34px;
		}
	}
	.system-xinyuan {
		color: #36B39E;
		font-size: 30px;
		position: relative;
			top: -15px;
			left: -27px;
	}
	.system-intro {
		text-indent: 2em;
		line-height: 40px;
		font-weight: bold;
	}
	.system-dtsgixinyuan {
		color: #36B29E;
	}
	.system-hr {
		border: 5px solid #36B29E;
		width: 100px;
		transform:rotate(90deg);
	}
	.system-icon {
		padding: 0 5px; 
	}
}

.career__show {
	.career-title {
		background-color: #fff;
		width: 160px;
		left: 50%;
		margin-left: -77px;
		position: absolute;
		font-size: 22px;
		z-index: 1;
		top: -2px;
	}
	.career-t {
		color: #36B29E;
	}
	.career-blank {
		height: 20px;
		width: 11px;
		background-color: #fff;
		z-index: 2;
		position: relative;
			left: 549px;
			top: -40px;
	}
	.career-i {
		font-size: 40px;
		line-height: 14px;
		color: #36B29E;
		position: relative;
			top: 10px;
	}
	.career-icon {
		font-size: 40px;
		line-height: 14px;
		color: #36B29E;
		position: relative;
			bottom: -55px
	}
	.career-media {
		border: 1px solid #36B29E;
		padding-top: 40px;
		padding-bottom: 20px;
	}
}
