// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.courses__index, .courses__list, .system__index, .system__show {
	.courses-bread {
		padding-left: -15px;
		background-color: #fff;
		margin: 0 0 0 -25px;
		padding-bottom: 0;
		.icon-home {
			padding-bottom: 10px;
		}
		li {
			line-height: 16px;
		}
	}
	.courses-iconfont {
			padding-right: 15px;
			font-size: 32px;
		}
	.category a {
		line-height: 90px;
		width: 100%;
		text-align: center;
		margin: 5px 0px;
		border: solid 1px #e1e1e1;
		font-size: 20px;
		// color: #3CB29F;
		display: block;
		color: #000;
		i {
			color: #3CB29F;
		}
		&:hover, &.active {
			background: #19b29f;
			color: #fff;
			font-size: 20px;
			text-decoration: none;
			margin-bottom: 26px;
			i {
				color: #fff;
			}
		}
	}
}
.courses__list, .system__index, .system__show {
	.category a {
		height: 130px;
		line-height: 130px;
		width: 100%;
		font-size: 28px;
		text-align: center;
		margin: 5px 0px;
		border: solid 1px #e1e1e1;
		display: block;
		&.all-active {
			background: #19b29f;
			color: #fff;
		}
		&:hover, &.active {
			border: solid 1px #19b29f;
			color: #fff;
		}
	}
	#CollegeList {
		padding: 0 7.5px;
		margin-bottom: 25px;
		.college-list {
			padding: 0 7.5px;
		}
		.college_img {
			border: solid 1px #e1e1e1;
			margin-bottom: 25px;
		}
	}
}

.courses__index, .courses__list, .system__index, .system__show {
	.title-bar {
		width: 100%;
		height: 60px;
		position: relative;
		.title {
      background-color: #fff;
		  width: 120px;
		  left: 50%;
		  margin-left: -40px;
		  position: absolute;
		  font-size: 22px;
		  z-index: 1;
		  top: 0;
		}
		.line {
			height: 2px;
			width: 100%;
			position: absolute;
      			top: 18px;
			background: #797a7a;
		}
	}
	.bordered {
		border: solid 1px #e3e3e3;
		margin-bottom: 20px;
		padding-bottom: 10px;
		position: relative;
		overflow: hidden;
		img.avatar {
			top: 150px;
			left: 20px;
			position: absolute;
		}
		.mt-10 {
			margin-top: 10px;
		}
		.infos {
			color: #9b9b9b;
			.icon-tubiao, .icon-shizhong {
				color: #53AA41;
				padding-right: 5px;
			}
			b, span {
				color: #19b29f;
			}
		}
		.name {
			color: #9b9b9b;
			padding-right: 20px;
			padding-top: 10px;
		}
	}
	.show-more {
		border: solid 1px #e3e3e3;
		width: 100%;
		padding: 8px 0;
		color: #5DC2B8;
		.icon-xiangxiazhankai {
			font-size: 12px;
		}
	}
}
.system__index, .system__show {
	.system {
		padding: 0;
		img:hover { 
				transition:All 1s;
			   	transform:scale(1.2);    
				-webkit-transform:scale(1.2);    
				-moz-transform:scale(1.2);    
				-o-transform:scale(1.2);    
				-ms-transform:scale(1.2);
		}
		.system-list {
			padding: 0 15px;
			.system-list-pic {
				padding: 0;
				overflow: hidden;
			}
			.system-list-pictip {
				padding: 0;
				color: #fff;
				background-color: rgba(0,0,0,0.4);
				line-height: 48px;
				position: relative;
					left: 0;
					top: -50px;
				.class-title {
					font-size: 18px;
				}
				.system-icon {
					font-size: 15px;
					padding-right: 5px;
					color: #37B4A0;
				}
			}
		}
	}
}
.courses__show{
	.sub_head{
		margin: 10px 0;
	}
.wrapper{
	border:1px solid #ccc;
	//padding: 20px;
	background-color:#ECECEC;
	margin-bottom: 20px;	
	.media-body{
		padding-left: 10px;
		h2{
			margin-bottom: 20px;
		}
		.name{
			font-size: 18px;
		}
		span{color: #9D9B9C;}
		.click{
			padding: 0 20px 0 40px;
			a{
				color: #FFC500;
				text-decoration: none;
				font-size: 16px;
			}
		}
		p{
			font-weight: bold;
			font-family: "微软雅黑";
			line-height: 2;
			padding-top: 20px;
			a{
				color: #FF0000;
			}
		}
		.btn{
			margin-left: 80px;
			border-radius:0;
			background-color: #2DC8B8;
			color: #fff;
			border:1px solid #ccc;

		}
	}
	.col-xs-3{
		padding:10px 0;
		position: relative;
		.shadow{
			color: #fff;
			padding: 5px 10px 5px 20px;
			background: rgba(0,0,0,0.6);
			position: absolute;
			bottom: 11px;
			span{
				color:#FD0013;
				font-size: 20px;
				padding-left: 20px;
			}
		}
	}
	}
	.online{
		padding: 20px;
	}
	.online-courses{
		padding-bottom: 20px;
		h3{
			padding-left: 7px;
		}
	}
}

.courses__details{
	.detail{
		padding: 0 30px 20px 30px;
		h3{
			color: #2DC8B8;
		}
		p{
			text-indent: 2em;
		}
	}
}

.system__show {
	.system-intro {
		text-indent: 2em;
		line-height: 40px;
		font-weight: bold;
	}
	.system-dtsgixinyuan {
		color: #36B29E;
	}
	.system-hr {
		border: 5px solid #36B29E;
		width: 100px;
		transform:rotate(90deg);
	}
}
