.evaluations__index{
	hr{
		border-width: 3px 0 0;
		border-style: none;
		padding-top: 10px;
	}
	.caption{
		h3{
			color: #00C0B6;
		}
		p{
			text-indent: 2em;
		}
	}	
	.evaluations__show{
		.content{
			border:1px solid #ccc;
		}
	}
}