// Place all the styles related to the interviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.interviews__index {
	.wrap{
		padding-bottom: 20px;
		//font-family: "微软雅黑";
		.main-model{
			padding: 10px 0;
			h2{
				margin-top: 5px;
				color: #000;
			}
			.divide{
				border-color: #797979;
				border-width: 3px 0 0; 
			}
			.btn-primary{
				background-color: #00BA9F;
				border: none;
				border-radius: 0;
			}
			.interview_info{
				border: 1px solid  #ccc;
				margin: 10px 0;
				padding: 10px;
				h3{
					color: #000;
					margin-bottom: 10px;
				}
				p{
					color:#4C4C4C;
					font-size: 16px;
					line-height: 1.6em;
					a{
						color: #00BDA5;
					}
				}
				.glyphicon-star{
					color:#FFB500;
					padding-left: 50px;
				}
				.glyphicon-user{
					color: #00BDA5;
					padding-right: 10px;
				}
				img{
					padding-right:10px; 
					color:#00BDA5;  
				}
			}
		}
	}
}

//Interviews/show page
.int_nav {
	margin:20px 0 0 0;
	background-color:#fff !important;
}
.text_title {
	background-color:#19b29f;
	margin-top:-20px;
	.content_t {
		font-size:17px;
		line-height:40px;
		color:#fff;
	}
}
.content_t2 {
	margin:15px auto;
	span {
		padding-right:8px;
	}
	.share {
			line-height:2;
		}
}
.collection_btn {
	background-color:#fff;
	width:100%;
	margin-top:3px;
	border-radius:15px;
	font-size:12px;
	line-height:15px;
	.star {
			line-height:2;
		}
}
.devise1 {
	border : 1px dashed #19b29f;
}
.inter_cmt_btn {
	padding:0 15px;
	margin-top:10px;
	background-color:#19b29f;
}
.content3 {
	background-color:#fcfcfc;
}
.text_content {
	padding:10px;
}
.interview_img {
	img {
		width:100%;
	} 
}