  .waperbg {
    background: image-url('center_bg.png') left top no-repeat;
  }
  .thumbnail {
    margin-top:40px;
    padding-top:10px;
    .caption {
      text-align:center;
      .empirical {
        padding-right:20px;
      }
      .value {
        color:red;
      }
      .divesi {
       margin:19px auto;
       border-width: 1.5px 0px 0px;
       border-style: dashed none none;
       border-color:#787A70;
     }
   }
 }
 .left_nav {
  background-color:#fff;
  border:solid 1px #DDDDDD;
  border-radius:5px;
  text-align:center;
    padding:30px 10px;
  li {
    list-style-type:none;
    font-size:15px;
    font-weight:600;
    &:hover,&:visited{
      background: image-url("p_link_bg.png") center no-repeat;
    }
    a{
          &:hover,&:visited{
            color:#00C7B8;
            text-decoration: none;
          }
        }
  }
  .divesi1 {
       margin:18px 10px;
       border-width: 2px 0px 0px;
       border-style: dashed none none;
       border-color:#DDDDDD;
     }
}

/* my_project_rightaire */
.right_nav_c {
  background-color:#fff;
  border-radius:5px;
  border:solid 1px #DDDDDD;
  height:785px;
  margin:40px auto;
  
  /* right_nav style */
  .right_nav {
    padding:10px 10px 0;
    margin-bottom:20px;
  border-color:#00CBD2;
  .active > a {
      border-color:#00CBD2;
    border-width:4px 1px 0 1px;
    }
}
.right_content {
  .tab1, .tab2{
    background-color:#00CBD2;
    margin-bottom:20px;
    .content_text {
      color:#fff;
      .right_icon {
    margin:10px 0 0 10px;
  }
    }
  }
  .tab2 {
    background-color:#f56935;
  }
}
}
