.recruitments__index, .recruitments__show, .recruitments__recommend {
  .waper {
    margin-top:80px;
  }
  .divider {
    margin:19px auto;
    border-width: 4px 0px 0px;
    border-style: solid none none;
    border-color:#787A70;
  }
  .recruit_title {
    margin:10px auto;
  }
  .recruit_class_word {
    text-align:center;
    .recruit_class_title {
      font-size:30px;
    }
  }
  .find_job {
    color:#fff;
    background-color:#00B89F;
    width: 100%;
    font-size: 18px;
    margin:5px auto;
    &.recommend {
      background-color:#f15967;
    }
  }
  .form-control {
    margin:5px auto;
    height: 40px;
  }
  table.recruitment-list {
    text-align:center;
    thead tr{
      font-size: 16px;
      background-color:#5c5c5c;
      th {
        text-align: center;
        color:#cccccc;
      }
    }
  }
  .iconstar {
    font-size:20px;
    color:#F38C00;
  }
  .recruit_list_text {
    tr {
      width:100%;
      border:solid 1px #E9E9E9;
      td {
        vertical-align:middle;
        span.text-muted {
          color: #d7d7d7;
        }
      }
    }
    .job_blank {
      border-color:#fff;
    }
    .deliver {
      display:block;
      text-decoration: none;
      color:#00B89F;
    }
  }

  //show page

  .recruit_table {
    text-align:center;
    .recruit_table1 {
      width:100%;
      td {
        font-size:14px;
        font-weight:bold;
        padding:10px;
        border:solid 1px #E9E9E9;
      }
    }
  }
  .recruit_content {
    margin:2px auto;
    margin-bottom:20px;
    border:solid 1px #E9E9E9;
    img {
      width:20px;
      height:20px;
    }
    p.p-info {
     text-indent: 2em;
     line-height: 2;
    }
   .company {
    line-height:30px;
    }
   .divider1 {
    border-width: 2px 0px 0px;
    border-style: dashed none none;
    border-color: #E9E9E9;
    }
  }
  .btn_tab {
    a.btn_apply {
      display: block;
      margin-bottom: 20px;
      font-size: 20px;
      color: #fff;
      background-color: #00C6B8;
      &.muted {
        background-color: #ebebeb;
        color: #9b9898;
      }
    }
    a.btn_collection {
      display: block;
      font-size: 20px;
      color: #fff;
      background-color: #FDD900;
      &.muted {
        background-color: #ebebeb;
        color: #9b9898;
      }
    }
  }
}
