.recruitments__index, .recruitments__show {
  .waper {
    margin-top:80px;
  }
  .divider {
    margin:19px auto;
    border-width: 4px 0px 0px;
    border-style: solid none none;
    border-color:#787A70;
  }
  .recruit_title {
    margin:10px auto;
  }
  .recruit_class_word {
    text-align:center;
    .recruit_class_title {
      font-size:30px;
    }
  }
  .find_job {
    a {
      display:block;
      font-size:20px;
      color:#fff;
      background-color:#00B89F;
    }
  }
  .form-control, .find_job {
    margin:5px auto;
  }
  table.recruitment-list {
    text-align:center;
    thead tr{
      font-size: 16px;
      background-color:#5c5c5c;
      th {
        text-align: center;
        color:#cccccc;
      }
    }
  }
  .iconstar {
    font-size:20px;
    color:#F38C00;
  }
  .recruit_list_text {
    tr {
      border:solid 1px #E9E9E9;
    }
    .deliver {
      display:block;
      text-decoration: none;
      color:#00B89F;
    }
  }
  //show page

  .recruit_table {
    text-align:center;
    .recruit_table1 {
      width:100%;
      td {
        font-size:14px;
        font-weight:bold;
        padding:10px;
        border:solid 1px #E9E9E9;
      }
    }
  }
  .recruit_content {
    margin:2px auto;
    margin-bottom:20px;
    border:solid 1px #E9E9E9;
    img {
      width:20px;
      height:20px;
    }
    p {
     text-indent:2em;
    }
   .company {
    line-height:30px;
    }
   .divider1 {
    border-width: 2px 0px 0px;
    border-style: dashed none none;
    border-color:#E9E9E9;
    }
  }
  .btn_tab {
    .btn_apply {
      a {
        display:block;
        margin-bottom:20px;
        font-size:20px;
        color:#fff;
        background-color:#00C6B8;
      }
    }
    .btn_collection {
      a {
        display:block;
        font-size:20px;
        color:#fff;
        background-color:#FDD900;
      }
    }
  }
}
