@import "variables";
//header
.navbar.navbar-inverse.my-navbar{
	font-weight: bold;
	min-height: 66px;
	border: none !important;
	li.active{
		border-bottom: 4px solid $color-green;
	}
	.sign{
		font-size: 12px;
		li > a{
			color: $color-sign !important;
		}
	}


	.sub_menu{
		min-width: 96px;
		background: #19B29F;
		border: none;
		border-radius: 0;
		a{
			color: #fff;
			background-color: #19B29F !important;
		}
		a :hover a:focus{
			color: #000;
			background-color:#19B29F!important;
		}
	}
}

//footer
.footer-top{
	background-color: $footer-bg;
	min-height: 190px;
	padding-top: 20px;
	.footer-link{
		border-left: 1px solid $border-ul;
		padding-left: 15px;
		li > a{
			color: $font-default;
			text-decoration: none;
			font-size: 12px;
			&:hover{
				color: $color-sign;
			}
		}
	}
	p{
		padding-top: 10px;
	}
}
.footer-bottom{
	background-color: $footer-gray;
	height: 60px;
	line-height: 60px;
	font-size: 12px;
}

//global css
.my-row{
	margin: 0 !important;
}
.col-0{
	padding: 0 !important;
}
.col-5{
	padding: 5px !important;
}

.my-ul{
	padding: 0;
	list-style: none;
}
.gray-bg{
	background-color: $gray-bg;
}
.paging li{
	display: inline;
	list-style: none;
	text-decoration: none;			
	a{
		color: #6E6E6E;
		padding: 5px 10px;
	}
	a:hover, a:focus{
		text-decoration: none;
		color: white;
		background: #00A369;			
		border-radius: 2px;
	}
	&.active {
		a {
			text-decoration: none;
			color: white;
			background: #00A369;			
			border-radius: 2px;
		}
	}
}
//devise-modal
.devise-modal {
	.modal-sm {
		margin: 100px auto;
	}
	.user-devise-form {
		.title span {
			border-bottom: 2px solid #5ac3b7;
		}
		form {
			padding: 10px 15px;
			.form-group {
				margin-bottom: 20px;
				.form-control {
					height: 42px;
				}
			}
			.form-actions {
				margin-bottom: 20px;
			}
			.btn {
				width: 100%;
				line-height: 27px;

				&.btn-info {
					background-color: #5ac3b7;
				}

				&.btn-success {
					background-color: #61c35a;
				}

				&.btn-danger {
					background-color: #f25d64;
				}
			}
		}

	}
}


//traing_platform_modal1
#trainingPlatformModal {
	.modal-content {
		border: 5px solid rgba(0, 203, 210,1);
		margin:40px 35px;
		border-radius:15px;
		.tp-user-devise-form{
			.tp_m {
				text-align:center;
			}
			.title span {
				border-bottom: 2px solid rgba(0, 203, 210,0.8);
			}

			form.form-horizontal {
				padding: 10px 15px;
				.form-group {
					margin-bottom: 20px;
					.form-control {
						height: 42px;
					}
				}
				.form-actions {
					margin-bottom: 10px;
					text-align:center;
				}
				.btn {
					width: 50%;
					border-radius: 8px;
					line-height: 28px;
					&.btn-info-tp {
						background-color:rgba(0, 203, 210,0.8)!important;
					}
					&.btn-danger-tp {
						background-color:#FF5962!important;
					}
				}
			}
//add

				.form-group {
		
			.btn {
				width: 80%;
				border-radius:8px;
				line-height: 15px;
				&.btn-info-tp {
					background-color:rgba(0, 203, 210,1)!important;
				}
				.btn {
					border-radius: 8px;
					line-height: 24px;
					&.btn-info-tp {
						width: 100%;
						background-color:rgba(0, 203, 210,0.8)!important;
					}
				}
			}
		}
	

		//modal中列表
		.modal-list {
			padding-left: 10px;
			padding-right: 10px;
			.row {
				margin: 5px 0px;
			}
		}
	}
}
}
//traing_platform_modal2
.my-nav1{
	border-radius: 10px;
	li.with-33 {
		width: 33%;
	}
	.nav-tabs{
		background-color:rgba(0, 203, 210,1);
		padding:15px 0 1px 30px;
		top:-2px;
		border:0px;
		box-shadow:none;
		font-color:#000;
		font-weight:bold;
		a {
			border-radius:15px 15px 0 0!important;
			background-color:rgba(0, 203, 210,1);
			border-bottom:#fff;
			line-height:20px!important;
			margin-right:0px;
			&:hover, &:focus {
				border-radius:15px 15px 0 0!important;
				background-color:#fff;
			
			}
		}
	}
	.tab-content {
		border:0px;
	}
}
.ace_modal_tab {
	text-align:center;
	th {
		color:rgba(0, 203, 210,0.8);
	}
}
button  {
	&.btn-info-tp1 {
		background-color:rgb(255,255 ,255 )!important;
		border:1px solid #8B9AA3;
		color:#8B9AA3;
	}
}
.ace_modal_tab1 {
	padding-bottom:20px;
	input  {
		padding: 5px 5px!important;
	}
}
.ace_modal_btn {
	.btn {
		padding:4px 6px;
		background-color:#fff;
		border:2px solid #F1F1F1;
	}
}
.ace_modal_tbd {
	.dropdown {
		padding-top:10px;
		ul {
			z-index:10;
		}
	}
	tr {
		margin:10px;
	}
}
.ace_modal_media {
	img {
		width:50px;
	}
	span {
		padding-left:20px;
	}
}

//traing_platform_modal3

.ace_tp_m3 {
	.ace_tp_m31 {
		padding-left:120px;
	}
	.btn-info-tp2 {
		background-color:rgba(85, 130, 237,0.6)!important;
	}
}
.ace_form_dis {
	.form-control & input {

	}
}