// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.users__my_informations{
	.my-nav{
		margin-top: 40px;
		margin-bottom: 20px;
		padding: 10px;
		border:1px solid #ccc;
		border-radius: 4px;
		.nav-tabs{
			border-bottom: 2px solid #8bd4cc;
			padding-left: 20px;
			li{
				margin-bottom: -2px;
			}
			.active > a {
				border-top: 4px solid #8bd4cc;
				border-right: 2px solid #8bd4cc;
				border-left: 2px solid #8bd4cc;
				font-weight: bold;
			}
		}
		.main{
			margin:0 20px;
			padding:40px;
			textarea , input{
				border-radius: 0;
			}
			.modify-btn{
				padding-top: 20px;
			}
			.mybtn{
				padding: 10px 40px;
				color: #fff;
				border-radius: 0;
				font-size: 18px;
			}
			.my_btn1{
				background-color: #f16c70;
			}
			.my_btn2{
				background-color: #8bd4cc;
			}
		}
	}
}
.my__messages{
	.main{
		padding-top: 20px;
		margin: 40px 0 20px;
		width: 848px;
		background-color: #fff;
		.my_message{
			margin: 10px  -15px 30px;
		}
		.my_data{
			padding-top: 10px;
		}
		.arrow{
			width: 0px;
			height: 0px;
			border-top: 5px solid transparent;
			border-right: 10px solid #DEEDFF;
			border-bottom: 5px solid transparent;
			position: absolute;
			left: -10px;
			top: 10px;
		}
		.message{
			padding-top: 10px;
			background-color: #deedff;
			position: relative;
		}
	}
}
.divider{
	border-color: #797979;
	border-width: 3px 0 0; 
}
