//header
$color-black: #000;
$color-sign: #5582ED;
$color-green: #11BD9E;
$color-black: #000;
//footer
$footer-bg: #F8F8F8;
$footer-gray: #ECECEC;
$border-ul: #C7C7C7;
//content
$gray-bg: #F5F5F5;
//font
$font-default: #333;

//sub_courses#show
$color-video-bg: #394044;
$cmt-border: #CBCBCB;
$tabs-color: #C90023;
$list-title-bg: #AFAFAF;

//navbar
$navbar-height: 66px;
$navbar-border-radius: 0;
$navbar-inverse-bg: $color-black;
$navbar-margin-bottom: 0;
$navbar-inverse-link-color: #fff;
$navbar-inverse-link-hover-color: $color-green;
$navbar-inverse-link-active-color: #fff;
