<div class="sidebar" id="sidebar">
    <script type="text/javascript">
      try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
    </script>

    <div class="project_name">
    <span class="project_name_t">我的项目</span>
    </div>

    <ul class="nav nav-list ace-nav-left">
      <li class="active">
        <a href="#">
          <i class="icon-book "></i>
          <span class="menu-text"> 全部项目</span>
        </a>
      </li>

      <li >
        <a href="#">
          <i class="icon-flag "></i>
          <span class="menu-text"> 关注的项目</span>
        </a>
      </li>

      <li>
        <a href="#">
          <i class="icon-folder-close "></i>
          <span class="menu-text"> 归档项目 </span>
        </a>
      </li>

      <li>
        <a href="#" class="dropdown-toggle">
          <i class="icon-bookmark"></i>
          <span class="menu-text"> 个人项目 </span>

          <b class="arrow icon-angle-down"></b>
        </a>

        <ul class="submenu">
          <li>
            <a href="#">
              <i class="icon-double-angle-right"></i>
              项目1
            </a>
          </li>

          <li>
            <a href="#">
              <i class="icon-double-angle-right"></i>
              项目2
            </a>
          </li>

          <li>
            <a href="#">
              <i class="icon-double-angle-right"></i>
              项目3
            </a>
          </li>

          <li>
            <a href="#">
              <i class="icon-double-angle-right"></i>
             项目4
            </a>
          </li>

          <li>
            <a href="#">
              <i class="icon-double-angle-right"></i>
              项目5
            </a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#" class="dropdown-toggle">
          <i class="icon-list"></i>
          <span class="menu-text"> 参与的项目</span>

          <b class="arrow icon-angle-down"></b>
        </a>

        <ul class="submenu">
          <li>
            <a href="tables.html">
              <i class="icon-double-angle-right"></i>
              项目1
            </a>
          </li>

          <li>
            <a href="jqgrid.html">
              <i class="icon-double-angle-right"></i>
              项目2
            </a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#" class="dropdown-toggle">
          <i class="icon-group "></i>
          <span class="menu-text"> 团队成员 </span>

          <b class="arrow icon-angle-down"></b>
        </a>

        <ul class="submenu">
          <li>
            <a href="form-elements.html">
              <i class="icon-double-angle-right"></i>
              李毅杰（大师）
            </a>
          </li>

          <li>
            <a href="dropzone.html">
              <i class="icon-double-angle-right"></i>
              汤工（工程师）
            </a>
          </li>

          <li>
            <a href="form-wizard.html">
              <i class="icon-double-angle-right"></i>
              崔军伟（工程师）
            </a>
          </li>

          <li>
            <a href="wysiwyg.html">
              <i class="icon-double-angle-right"></i>
              樊伟（工程师）
            </a>
          </li>

          <li>
            <a href="dropzone.html">
              <i class="icon-double-angle-right"></i>
              陈博
            </a>
          </li>

          <li>
            <a href="dropzone.html">
              <i class="icon-double-angle-right"></i>
              曹子莹
            </a>
          </li>

          <li>
            <a href="dropzone.html">
              <i class="icon-double-angle-right"></i>
              张留刚
            </a>
          </li>

          <li>
            <a href="dropzone.html">
              <i class="icon-double-angle-right"></i>
              于子荀
            </a>
          </li>

          <li>
            <a href="dropzone.html">
              <i class="icon-double-angle-right"></i>
              瞿sir
            </a>
          </li>

          <li>
            <a href="dropzone.html">
              <i class="icon-double-angle-right"></i>
              刘婷婷
            </a>
          </li>

          <li>
            <a href="dropzone.html">
              <i class="icon-double-angle-right"></i>
              冯亚芬
            </a>
          </li>
        </ul>
      </li>

      <li>
        <a href="calendar.html">
          <i class="icon-calendar"></i>
          <span class="menu-text">
            日历
            <span class="badge badge-transparent tooltip-error" title="2&nbsp;Important&nbsp;Events">
              <i class="icon-warning-sign red bigger-130"></i>
            </span>
          </span>
        </a>
      </li>

      <div class="sidebar-shortcuts" id="sidebar-shortcuts">
      <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
        <button class="btn btn-success">
          <i class="icon-signal"></i>
        </button>

        <button class="btn btn-info">
          <i class="icon-pencil"></i>
        </button>

        <button class="btn btn-warning">
          <i class="icon-group"></i>
        </button>

        <button class="btn btn-danger">
          <i class="icon-cogs"></i>
        </button>
      </div>

      <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
        <span class="btn btn-success"></span>

        <span class="btn btn-info"></span>

        <span class="btn btn-warning"></span>

        <span class="btn btn-danger"></span>
      </div>
    </div><!-- #sidebar-shortcuts -->
    </ul><!-- /.nav-list -->

    <div class="sidebar-collapse" id="sidebar-collapse">
      <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
    </div>

    <script type="text/javascript">
      try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
    </script>
</div><!-- /.sidebar -->