<div class="main-container" id="main-container">
  <script type="text/javascript">
    try{ace.settings.check('main-container' , 'fixed')}catch(e){}
  </script>

  <div class="main-container-inner">
    <a class="menu-toggler" id="menu-toggler" href="#">
      <span class="menu-text"></span>
    </a>

    <%= render 'training_platform/share/left_nav'%>

    <div class="main-content">
      <div class="page-content">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="row">
            <!-- <左侧> -->
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 task-left-content">
              <div class="row ace_content_left_title">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <%= link_to new_training_platform_project_task_path(project_id: @project.id, task_category_id: @task_category.try(:id), user_id: @user.try(:id)), remote: true, format: :js do %>
                    <span class="glyphicon glyphicon-plus ace_plus" aria-hidden="true"></span><span class="ace_plus_word">添加任务</span>
                  <% end %>
                </div>
              </div>
              <div class="row ace_content_page_left">
                <%= render partial: "training_platform/share/task_list", 
                  locals: {
                    waits: @task_category.tasks.waits,
                    dos: @task_category.tasks.dos,
                    completes: @task_category.tasks.completes,
                    acceprances: @task_category.tasks.acceprances
                  }%>
              </div>
            </div>
            <!-- <左侧> -->

            <!-- 右侧 -->
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <div class="row ace_content_right_title">
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 ace-serch">
                  <form class="form-search ace-form-serch">
                    <span class="input-icon">
                    <input type="text" placeholder="请输入关键字" class="nav-search-input" id="nav-search-input" autocomplete="off" />
                    <i class="icon-search nav-search-icon"></i>
                    </span>
                  </form>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                  <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                  <span class="glyphicon glyphicon-question-sign ace_ques pull-right" aria-hidden="true"></span>
                  </a>
                  <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                  <i class="icon-bell-alt icon-animated-bell pull-right ace_bell"></i>
                  </a>
                </div>
              </div>

              <div id="taskDetailShow" class="row ace_content_page_right">
                <%= render partial: "training_platform/task_categories/detail"%>
              </div>

            </div>
            <!-- 右侧 -->
          </div>
        </div>
        
        
      </div>
    </div>
  </div>

  <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="icon-double-angle-up icon-only bigger-110"></i>
  </a>

</div>
<script type="text/javascript">
  jQuery(function($){
  
    $('.dd').nestable();
  
    $('.dd-handle a').on('mousedown', function(e){
      e.stopPropagation();
    });
    
    $('[data-rel="tooltip"]').tooltip();
  
  });
</script>
